body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.controls {
  margin-bottom: 10px;
}

#lot-container {
  position: relative;
  width: 1090px;
  height: 768px;
  background-image: url('ParkingLotOutline.png');
  background-size: cover;
  border: 2px solid #000;
}

.car-box {
  position: absolute;
  width: 120px;
  height: 30px;
  background: rgba(206, 223, 113, 0.664);
  border: none;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  transform-origin: center center;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  user-select: none;
  cursor: move;
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

.car-box:focus,
.car-box:hover {
  outline: 1px dashed #888;
  background-color: rgb(207, 223, 113);
}

.rotate-handle {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 12px;
  height: 12px;
  background: #888;
  border-radius: 50%;
  cursor: grab;
  z-index: 10;
}

.car-box:hover .rotate-handle {
  background: #444;
}

.car-box:empty::before {
  content: attr(data-placeholder);
  color: #555;
  opacity: 0.6;
  pointer-events: none;
}

.rotate-handle {
  display: none;
}

.car-box:hover .rotate-handle {
  display: block;
}

.locked .rotate-handle {
  display: none !important;
}

